<a href="https://colab.research.google.com/github/vvicky30/machine-learning/blob/master/content_recommnd_sys.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [59]:
!wget -O moviedataset.zip https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/moviedataset.zip

--2020-03-27 07:17:19--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/moviedataset.zip
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 160301210 (153M) [application/zip]
Saving to: ‘moviedataset.zip’

moviedataset.zip    100%[===================>] 152.88M  33.4MB/s    in 4.4s

2020-03-27 07:17:24 (34.4 MB/s) - ‘moviedataset.zip’ saved [160301210/160301210]

In [60]:
#for unzipping the file 
! unzip -o -j moviedataset.zip

Archive:  moviedataset.zip
  inflating: links.csv
  inflating: movies.csv
  inflating: ratings.csv
  inflating: README.txt
  inflating: tags.csv

In [0]:
#prepocessing
import pandas as pd
#in math function we use only sqrt function 
from math import sqrt
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [62]:
#data_load
movies_df= pd.read_csv('movies.csv')#for loading movies
ratings_df= pd.read_csv('ratings.csv')#for ratings
print(movies_df.head(7))
print(movies_df.tail(7))

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy
5        6  ...                        Action|Crime|Thriller
6        7  ...                               Comedy|Romance

[7 rows x 3 columns]
       movieId                         title                 genres
34201   151691         Hollywood High (1976)                 Comedy
34202   151695        The Survivalist (2015)  Drama|Sci-Fi|Thriller
34203   151697             Grand Slam (1967)               Thriller
34204   151701             Bloodmoney (2010)     (no genres listed)
34205   151703   The Butterfly Circus (2009)                  Drama
34206   151709                   Zero (2015)           Drama|Sci-Fi
34207   151711  The 2000 Year Old Man (1975)     (no genres listed)

In [63]:
#Let's also remove the year from the title column by using pandas' 
#replace function and store in a new year column.
movies_df['year']=movies_df.title.str.extract('(\(\d\d\d\d\))',expand=False)

#Removing the parentheses
movies_df['year'] = movies_df.year.str.extract('(\d\d\d\d)',expand=False)#here we use year coulumn where changes are made

#Removing the years from the 'title' column
movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')#here weuse title coulumns where changes are made

#Applying the strip function to get rid of any ending whitespace characters that may have appeared
movies_df['title'] = movies_df['title'].apply(lambda x: x.strip())#very important
movies_df.head(9)

   movieId  ...  year
0        1  ...  1995
1        2  ...  1995
2        3  ...  1995
3        4  ...  1995
4        5  ...  1995
5        6  ...  1995
6        7  ...  1995
7        8  ...  1995
8        9  ...  1995

[9 rows x 4 columns]

In [64]:
#Every genre is separated by a | so we simply have to call the split function on |
movies_df['genres'] = movies_df.genres.str.split('|')#here now genres are converted into the list
movies_df.head()

   movieId  ...  year
0        1  ...  1995
1        2  ...  1995
2        3  ...  1995
3        4  ...  1995
4        5  ...  1995

[5 rows x 4 columns]

In [102]:
movies_df['movieId']

0             1
1             2
2             3
3             4
4             5
          ...
34203    151697
34204    151701
34205    151703
34206    151709
34207    151711
Name: movieId, Length: 34208, dtype: int64

In [0]:
'''
Since keeping genres in a list format isn't optimal for the content-based recommendation system technique, 
we will use the One Hot Encoding technique to convert the list of genres to a vector where each column 
corresponds to one possible value of the feature. This encoding is needed for feeding categorical data. 
In this case, we store every different genre in columns that contain either 1 or 0. 1 
shows that a movie has that genre and 0 shows that it doesn't. 
Let's also store this dataframe in another variable
'''
moviesWithGenres_df=movies_df.copy()
#for every row in the dataframe ,,,,iterate through the list of genres and put '1' to the coreesponding coulumns of gnres
for index,row in movies_df.iterrows():
  for genre in row['genres']:
    moviesWithGenres_df.at[index,genre]=1

In [66]:
moviesWithGenres_df.head(7)

   movieId                        title  ... Film-Noir (no genres listed)
0        1                    Toy Story  ...       NaN                NaN
1        2                      Jumanji  ...       NaN                NaN
2        3             Grumpier Old Men  ...       NaN                NaN
3        4            Waiting to Exhale  ...       NaN                NaN
4        5  Father of the Bride Part II  ...       NaN                NaN
5        6                         Heat  ...       NaN                NaN
6        7                      Sabrina  ...       NaN                NaN

[7 rows x 24 columns]

In [67]:
#here we can see the ramaing columns which not assigned with thw one(1) are reffered as NAN
#so for solvinf this problem here we fill the NAN values with 0 to show that ..that genre is not there coresponding features
moviesWithGenres_df=moviesWithGenres_df.fillna(0)
moviesWithGenres_df.head(9)

   movieId                        title  ... Film-Noir (no genres listed)
0        1                    Toy Story  ...       0.0                0.0
1        2                      Jumanji  ...       0.0                0.0
2        3             Grumpier Old Men  ...       0.0                0.0
3        4            Waiting to Exhale  ...       0.0                0.0
4        5  Father of the Bride Part II  ...       0.0                0.0
5        6                         Heat  ...       0.0                0.0
6        7                      Sabrina  ...       0.0                0.0
7        8                 Tom and Huck  ...       0.0                0.0
8        9                 Sudden Death  ...       0.0                0.0

[9 rows x 24 columns]

In [68]:
#now let's look rating dataframe
ratings_df.head(7)

   userId  movieId  rating   timestamp
0       1      169     2.5  1204927694
1       1     2471     3.0  1204927438
2       1    48516     5.0  1204927435
3       2     2571     3.5  1436165433
4       2   109487     4.0  1436165496
5       2   112552     5.0  1436165496
6       2   112556     4.0  1436165499

In [69]:
#here fot recommendation system ..we preety sure that we don't need a timestamp along with ratings
ratings_df=ratings_df.drop('timestamp',1)
ratings_df.head(7)#check

   userId  movieId  rating
0       1      169     2.5
1       1     2471     3.0
2       1    48516     5.0
3       2     2571     3.5
4       2   109487     4.0
5       2   112552     5.0
6       2   112556     4.0

# content based recommendation system
Now, let's take a look at how to implement Content-Based or Item-Item recommendation systems. This technique attempts to figure out what a user's favourite aspects of an item is, and then recommends items that present those aspects. In our case, we're going to try to figure out the input's favorite genres from the movies and ratings given.

Let's begin by creating an input user to recommend movies to:

Notice: To add more movies, simply increase the amount of elements in the userInput. Feel free to add more in! Just be sure to write it in with capital letters and if a movie starts with a "The", like "The Matrix" then write it in like this: 'Matrix, The' .

In [70]:
userInput=[
          {'title':'Breakfast Club, The','ratings':5},
          {'title':'Toy Story','ratings':3.5}, 
          {'title':'Jumanji','ratings':2},
          {'title':'Pulp Fiction','ratings':5},
          {'title':'Akira','ratings':4.5},
]
inputMovies=pd.DataFrame(userInput)
inputMovies.head()

                 title  ratings
0  Breakfast Club, The      5.0
1            Toy Story      3.5
2              Jumanji      2.0
3         Pulp Fiction      5.0
4                Akira      4.5

# Add movieId to input user
for that(we going through following process ):-
 extract the input movie's ID's from the movies dataframe and add them into it.

We can achieve this by first filtering out the rows that contain the input movie's title and then merging this subset with the input dataframe. We also drop unnecessary columns for the input to save memory space.

In [71]:
#Filtering out the movies by title
inputId = movies_df[movies_df['title'].isin(inputMovies['title'].tolist())]#list compphression
print(inputId) #just in sequence of incresing movie Id not in the sequence correponds to inputMovies

      movieId  ...  year
0           1  ...  1995
1           2  ...  1995
293       296  ...  1994
1246     1274  ...  1988
1885     1968  ...  1985

[5 rows x 4 columns]

In [0]:
#Then merging it so we can get the movieId. It's implicitly merging it by title.
inputMovies = pd.merge(inputId, inputMovies)

In [73]:
inputMovies.head()

   movieId                title  ...  year ratings
0        1            Toy Story  ...  1995     3.5
1        2              Jumanji  ...  1995     2.0
2      296         Pulp Fiction  ...  1994     5.0
3     1274                Akira  ...  1988     4.5
4     1968  Breakfast Club, The  ...  1985     5.0

[5 rows x 5 columns]

In [74]:
#Dropping information we won't use from the input dataframe
inputMovies = inputMovies.drop('genres', 1).drop('year', 1)
#Final input dataframe
#If a movie you added in above isn't here, then it might not be in the original 
#dataframe or it might spelled differently, please check capitalisation.
inputMovies

   movieId                title  ratings
0        1            Toy Story      3.5
1        2              Jumanji      2.0
2      296         Pulp Fiction      5.0
3     1274                Akira      4.5
4     1968  Breakfast Club, The      5.0

In [75]:
#now ew have to learn the prefereces of each users by the  using weighted matrix as :
"""
We're going to start by learning the input's preferences,
 so let's get the subset of movies that the input has watched from the Dataframe containing genres defined with 
 binary values.
 """
#Filtering out the movies from the input
userMovies = moviesWithGenres_df[moviesWithGenres_df['movieId'].isin(inputMovies['movieId'].tolist())]
userMovies

      movieId                title  ... Film-Noir (no genres listed)
0           1            Toy Story  ...       0.0                0.0
1           2              Jumanji  ...       0.0                0.0
293       296         Pulp Fiction  ...       0.0                0.0
1246     1274                Akira  ...       0.0                0.0
1885     1968  Breakfast Club, The  ...       0.0                0.0

[5 rows x 24 columns]

In [76]:
#Resetting the index to avoid future issues
userMovies = userMovies.reset_index(drop=True)
#Dropping unnecessary issues due to save memory and to avoid issues
userGenreTable = userMovies.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)
userGenreTable

   Adventure  Animation  Children  ...  Western  Film-Noir  (no genres listed)
0        1.0        1.0       1.0  ...      0.0        0.0                 0.0
1        1.0        0.0       1.0  ...      0.0        0.0                 0.0
2        0.0        0.0       0.0  ...      0.0        0.0                 0.0
3        1.0        1.0       0.0  ...      0.0        0.0                 0.0
4        0.0        0.0       0.0  ...      0.0        0.0                 0.0

[5 rows x 20 columns]

In [78]:
'''Now we're ready to start learning the input's preferences!
To do this, we're going to turn each genre into weights. 
We can do this by using the input's reviews and multiplying them into the input's genre 
table and then summing up the resulting table by column. 
This operation is actually a dot product between a matrix and a vector,
so we can simply accomplish by calling Pandas's "dot" function.
'''
inputMovies['ratings']

0    3.5
1    2.0
2    5.0
3    4.5
4    5.0
Name: ratings, dtype: float64

In [82]:
#Dot produt to get weights
userProfile = userGenreTable.transpose().dot(inputMovies['ratings'])
#The user profile
userProfile####vey important

Adventure             10.0
Animation              8.0
Children               5.5
Comedy                13.5
Fantasy                5.5
Romance                0.0
Drama                 10.0
Action                 4.5
Crime                  5.0
Thriller               5.0
Horror                 0.0
Mystery                0.0
Sci-Fi                 4.5
IMAX                   0.0
Documentary            0.0
War                    0.0
Musical                0.0
Western                0.0
Film-Noir              0.0
(no genres listed)     0.0
dtype: float64

In [83]:
'''
Now, we have the weights for every of the user's preferences. 
This is known as the User Profile. Using this, 
we can recommend movies that satisfy the user's preferences.

Let's start by extracting the genre table from the original dataframe:
'''
#as by observing above user's profile ..we can said that user is surely liked or having taste of [adventure comedy drama]

#Now let's get the genres of every movie in our original dataframe
genreTable = moviesWithGenres_df.set_index(moviesWithGenres_df['movieId'])
#And drop the unnecessary information
genreTable = genreTable.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)
genreTable.head()

         Adventure  Animation  Children  ...  Western  Film-Noir  (no genres listed)
movieId                                  ...
1              1.0        1.0       1.0  ...      0.0        0.0                 0.0
2              1.0        0.0       1.0  ...      0.0        0.0                 0.0
3              0.0        0.0       0.0  ...      0.0        0.0                 0.0
4              0.0        0.0       0.0  ...      0.0        0.0                 0.0
5              0.0        0.0       0.0  ...      0.0        0.0                 0.0

[5 rows x 20 columns]

In [84]:
genreTable.shape

(34208, 20)

With the input's profile and the complete list of movies and their genres in hand, we're going to take the weighted average of every movie based on the input profile and recommend the top 15 movies that most satisfy it.

In [87]:
#Multiply the genres by the weights and then take the weighted average
recommendationTable_df = ((genreTable*userProfile).sum(axis=1))/(userProfile.sum())
recommendationTable_df.head(10)

movieId
1     0.594406
2     0.293706
3     0.188811
4     0.328671
5     0.188811
6     0.202797
7     0.188811
8     0.216783
9     0.062937
10    0.272727
dtype: float64

In [105]:
#Sort our recommendations in descending order
recommendationTable_df = recommendationTable_df.sort_values(ascending=False)
#Just a peek at the values
recommendationTable_df.head(15)#top 15 of recommendation tablr is the top 15 movies which is 
                                   # recommended by recommendation engine based on user's profile

movieId
5018      0.748252
26093     0.734266
27344     0.720280
148775    0.685315
6902      0.678322
117646    0.678322
64645     0.671329
81132     0.671329
122787    0.671329
2987      0.664336
146305    0.657343
91335     0.657343
26340     0.657343
108540    0.657343
108932    0.657343
dtype: float64

In [129]:
id=[5018,26093,27344,148775,6902,117646,64645,81132,122787,2987,146305,91335,26340,108540,108932]
#now we extracting name of movies from orgfinal dataset
top15_recommended_movies_name=movies_df[movies_df.movieId.isin(id)]
top15_recommended_movies_name

       movieId  ...  year
2902      2987  ...  1988
4923      5018  ...  1991
6793      6902  ...  2002
8605     26093  ...  1962
8783     26340  ...  1976
9296     27344  ...  1999
13250    64645  ...  1968
16055    81132  ...  2010
18312    91335  ...  2009
22778   108540  ...  2012
22881   108932  ...  2014
25218   117646  ...  2000
26442   122787  ...  1959
32854   146305  ...  2000
33509   148775  ...  2009

[15 rows x 4 columns]